* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Wallpoet', cursive;
	font-family: 'Josefin Sans', sans-serif;
	font-family: 'Montserrat', sans-serif;
	color: #0C120C;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #C7D6D5;
}

h1 {
	font-family: 'Wallpoet';
	margin: 0;
	padding: 0;
	color: #ECEBF3;
}

h2 {
	font-family: 'Josefin Sans';
	margin: 0;
	padding: 0;
	text-transform: capitalize;
}

h3 {
	margin: auto;
	padding: 0;
	font-size: 100%;
}

p {
	margin: 0;
	padding: 0;
	text-align: justify;
}

strong {
	color: #C20114;
	text-transform: uppercase;
	font-family: 'Josefin Sans';
}

.container-fluid {
	margin: 0:;
	padding: 0;
}

.row {
	margin: 0;
	padding: 0;
}

.card {
	margin: 0;
	padding: 0;
	background-color: #ECEBF3;
	border: 1px solid #C7D6D5;
	border-radius: 0;
	text-align: center;
}

.btn {
	background-color: #ECEBF3;
	border: 1px solid #0C120C;
	text-transform: uppercase;
	font-size: 70%;
	color: #0C120C;
	width: 40%;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	margin: auto;
}

.jumbotron {
	margin: 0;
	padding: 2%;
	text-align: center;
	border-radius: 0;
	background-color: #C20114;
}

.list-group {
	text-transform: uppercase;
}


/*start of landing page styling*/
#container-index {
	background-color: black;
	height: 100vh;
}

#jumbotron-index {
	background-color: black;
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#logo-landing-page {
	margin: 0;
	padding: 0;
}

#headertext-3-index {
	margin: 0;
	padding: 0;
	color: #ECEBF3;
	font-size: 100%;
}

#line-jumbotron-index {
	margin: 1%;
	padding: 0;
	border: 1px solid #6D7275;
}

#anchor-jumbotron-index {
	margin: 0;
	padding: 0;
	background-color: black;
	border: 1px solid #ECEBF3;
	text-transform: uppercase;
	font-size: 80%;
	color: #ECEBF3;
	width: 60%;
}

#anchor-jumbotron-index:hover {
	background-color: #C20114;
	border: 2px solid #C20114;
	color: #ECEBF3;
}
/*end of landing page styling*/


/*start of navbar of all pages*/
#container-navbar {
	margin: 0;
	padding: 0;
	height: 10vh;
}

.navbar {
	background-color: #0C120C;
	margin: 0;
	padding: 0;
	height: 10vh;
}

#navbar-image {
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 1%;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 1%;
}

.navbar-nav,
#navbar-button {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 1%;
	margin-left: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 1%;
	padding-left: 0;
}

/*end of navbar of all pages*/


/*start of carousel home-header*/
#carousel-home-1 {
	background-color: #C7D6D5;
	background-image: url(../images/carousel-home-1.jpg);
	min-height: 100vh;
	background-attachment: fixed;
 	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

#carousel-home-2 {
	background-color: #C7D6D5;
	background-image: url(../images/carousel-home-2.jpg);
	min-height: 100vh;
	background-attachment: fixed;
 	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;

}

#carousel-home-3 {
	background-color: #C7D6D5;
	background-image: url(../images/carousel-home-3.jpg);
	min-height: 100vh;
	background-attachment: fixed;
 	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

#carousel-home-4 {
	background-color: #C7D6D5;
	background-image: url(../images/carousel-home-4.jpg);
	min-height: 100vh;
	background-attachment: fixed;
 	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;

}
#carousel-home-5 {
	background-color: #C7D6D5;
	background-image: url(../images/carousel-home-5.jpg);
	min-height: 100vh;
	background-attachment: fixed;
 	background-position: top;
  	background-repeat: no-repeat;
  	background-size: cover;

}
/*end of carousel home-header*/


/*start of carousel home-main*/
/*left carousel*/
#carousel-fhome-1 {
	background-color: #C7D6D5;
	background-image: url(../images/carousel-service-1.jpg);
	min-height: 50vh;
 	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}
#carousel-fhome-2 {
	background-color: #C7D6D5;
	background-image: url(../images/carousel-service-2.jpg);
	min-height: 50vh;
 	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}
#carousel-fhome-3 {
	background-color: #C7D6D5;
	background-image: url(../images/carousel-service-3.jpg);
	min-height: 50vh;
 	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

/*center carousel*/
#carousel-shome-1 {
	background-color: #C7D6D5;
	background-image: url(../images/carousel-gallery-1.jpg);
	min-height: 50vh;
 	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}
#carousel-shome-2 {
	background-color: #C7D6D5;
	background-image: url(../images/carousel-gallery-2.jpg);
	min-height: 50vh;
 	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}
#carousel-shome-3 {
	background-color: #C7D6D5;
	background-image: url(../images/carousel-gallery-3.jpg);
	min-height: 50vh;
 	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

/*right carousel*/
#carousel-thome-1 {
	background-color: #C7D6D5;
	background-image: url(../images/carousel-customer-1.jpg);
	min-height: 50vh;
 	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}
#carousel-thome-2 {
	background-color: #C7D6D5;
	background-image: url(../images/carousel-customer-2.jpg);
	min-height: 50vh;
 	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}
#carousel-thome-3 {
	background-color: #C7D6D5;
	background-image: url(../images/carousel-customer-3.jpg);
	min-height: 50vh;
 	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}
/*end carousel home-main*/


/*start of card home-main*/
@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}

.grid-home {
	margin: 0;
	padding: 0;
}

.card-hover {
	height: 80vh;
	width: 100%;
}

.card-hover:hover {
	border: 2px solid #C20114;
}

.card-hover:hover > .card-body > .btn {
	background-color: #C20114;
	color: #ECEBF3;
	border: 2px solid #C20114;
	animation-name: bounce;
	-moz-animation-name: bounce;
}

.card-title-home {
	margin: 5%;
}
/*end of card home-main*/


/*start of card about-main*/
/*first card about-main*/
.grid-about {
	margin: 0;
	padding: 0;
}

.card-about-1 {
	margin: 0;
	padding: 0;
	height: 90vh;
}

.headertext-2-about {
	margin: 10%;
	padding: 0;
}

.paragraph-about-1 {
	margin-left: 10%;
	margin-right: 10%;
}

/*second card about-main*/
.card-about-2 {
	margin: 0;
	padding: 0;
	height: 60vh;
}

.headertext-2-about-2 {
	margin: auto;
	padding: 0;
	text-align: center;
}

.paragraph-about-2 {
	margin-bottom: 2%;
	margin-left: 10%;
	margin-right: 10%;
}

#line-card-about {
	margin: 0;
	padding: 0;
	border: 0;
}

/*third card about-main*/
#card-about-3 {
	margin: auto;
	padding: 0;
	height: 80vh;
}

.pagod-na-me {
	font-family: 'Josefin Sans';
	font-size: 200%;
}

.btn-about {
	background-color: #ECEBF3;
	border: 1px solid #0C120C;
	text-transform: uppercase;
	font-size: 70%;
	color: #0C120C;
	width: 30%;
}

.btn-about:hover {
	background-color: #C20114;
	color: #ECEBF3;
	border: 1px solid #C20114;
}
/*end of card about-main*/

/*start of card contact-main*/
.grid-contact {
	margin: 0;
	padding: 0;
}

.headertext-2-contact {
	margin: 10%;
	padding: 0;
}

.contact-icon {
	margin-top: 10%;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 8%;
	display: block;
	text-align: center;
}

.paragraph-contact {
	text-align: center;
}

/*first card contact-main*/
.card-contact-1 {
	margin: 0;
	padding: 0;
	height: 40vh;
}

/*second card contact-main*/
.card-contact-2 {
	margin: 0;
	padding: 0;
	height: 40vh;
}
/*end of card contact-main*/


/*start of list-group services*/
.grid-services {
	margin: 0;
	padding: 0;
}

.card-services {
	margin: 0;
	padding: 0;
	height: 1375px;
}

.image-services {
	margin-top: 10%;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 10%;
	display: block;
	text-align: center;
}

.header-services {
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
	margin-right: 2%;
	padding: 0;
}
/*end of list-group services*/


/*start of customer page*/
.card-customer {
	height: auto;
}

.image-customer {
	margin-top: 10%;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 10%;
	display: block;
	text-align: center;
}

.header-customer {
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
	margin-right: 2%;
	padding: 0;
}
/*end of customer page*/

/*start of footer*/
#container-footer {
	margin: 0;
	padding: 0;
	height: 10vh;
	background-color: #6D7275;
	text-align: center;
	color: #ECEBF3;
	line-height: 10vh;
	display: inline-block;
	vertical-align: middle;
}

.headertext-3-footer {
	font-size: 80%;
	margin: auto;
	color: #ECEBF3;
	display: inline-block;
	vertical-align: middle;
}

#line-sa-baba {
	margin: 0;
	padding: 0;
	border: 0;
}
/*end of footer*/




/*400px and below styling*/
@media only screen and (max-width: 400px) {
	#anchor-jumbotron-index {
		background-color: #C20114;
		border: 2px solid #C20114;
		color: #ECEBF3;
	}
	/*end of landing page*/

	/*start of navbar of all pages*/
	.nav-link {
		background-color: #C20114;
	}

	#strong-home,
	#strong-about,
	#strong-contact {
		color: #0C120C;
	}
	/*end of navbar of all pages*/

	p {
		font-size: 65%;
	}

	.headertext-2-contact {
		margin: 10%;
		padding: 0;
		font-size: 140%;
	}

	.btn-about {
		width: 40%;
	}

	.card-services {
		height: auto;
	}

	.header-customer {
		margin-top: 5%;
		margin-bottom: 2%;
		margin-left: 2%;
		margin-right: 2%;
		padding: 0;
	}
}
/*end*/

/*401px to 960px styling*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
	#anchor-jumbotron-index {
		background-color: #C20114;
		border: 2px solid #C20114;
		color: #ECEBF3;
	}
	/*end of landing page*/

	/*start of navbar of all pages*/
	.nav-link {
		background-color: #C20114;
	}

	#strong-home,
	#strong-about,
	#strong-contact {
		color: #0C120C;
	}
	/*end of navbar of all pages*/

	p {
		font-size: 120%;
	}

	.btn-about {
		width: 40%;
	}

	.card-services {
		height: auto;
	}
}
/*end*/

/*961px and above styling*/
@media only screen (min-width: 961px) {

}
/*end*/